body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  border: 1px solid green;
  border-radius: 5rem;
  margin: 4rem;
  background-color: white;
}

.header {
  font-size: 50px;
}

.todo-form {
  display: flex;
  justify-content: center;
  height: ;
}

.list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.task {
  border: 1px solid gray;
  width: 60vw;
  border-radius: 3px;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  margin-bottom: .25rem;
  justify-content: space-evenly;
}

.todo-title {
  /* flex-grow: 2; */
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  flex-grow: 1;
}

.no-tasks {
  font-style: italic;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: .2rem solid peru;
  border-radius: 2rem;
  padding: 1rem;
}

.timer {
  display: flex;
}

.pause-btn {
  text-align: center;
  border: 1px solid black;
}

.start-btn {
  text-align: center;
  border: 1px solid black;
}

.add-time {
  border: 1px solid black;
  width: 20px;
  text-align: center;
}